* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body {
	background: #f4eeda;
}
.headerTop {
	display: flex;
	justify-content: right;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 30px;
}
.headerTop .top {
	display: flex;
	color: #634f40;
	gap: 1100px;
	font-size: 16px;
	width: 100%;
}
.fullname {
	width: 50%;
	display: flex;
	color: #a57a5a;
}
.logOut {
	width: 80px;
	height: inherit;
}
.logOut button {
	color: #f4eedaff;
	padding: 5px;
	width: inherit;
	background-color: #634f40;
	border-width: 0ch;
	border-radius: 8px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
}
.homePage {
	position: fixed;
	color: #634f40;
	bottom: 0px;
	left: 0px;
	margin-left: 30px;
	margin-bottom: 30px;
}
.homePage a {
	color: #634f40;
}

.fullname > i {
	margin: 0 10px;
}
button:hover {
	background-color: #b09570ff;
	cursor: pointer;
	box-shadow: 0px 15px 20px rgba(199, 130, 65, 0.4);
	color: #fff;
	/* transform: translateY(-7px); */
}
.headerTop a {
	display: flex;
	color: #a57a5a;
	font-size: 20px;
}
.headerBottom {
	display: flex;
	justify-content: space-around;
	align-items: center;
	justify-content: left;
	width: 100%;
	height: 80px;
	background: #f3e5da;
}
.headerBottom .menu {
	margin-left: 30px;
	display: flex;
	list-style: none;
	background-color: #f3e5da;
	font-size: 35px;
}
.menu li {
	color: #634f40;
	margin-left: 600px;
}

.fon {
	display: flex;
	align-items: top;
	background-color: #f4eeda;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 702px;
}
#main {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
.headerLeft {
	background-size: cover;
	align-items: top;
	margin-left: 60px;
	justify-content: left;
	color: #634f40;
	width: 100%;
	font-size: 60px;
	margin-top: 150px;
}
